:root{
    --logoColor: #FFF;
    --bodyBackground: #d7cec7;
    --formBackground:#fc4a1a;
    --labelColor: #fff;
    --inputColor: #fff;
    --buttonColor: #f7b733;
    --buttonLabel: #fff;
    --buttonHover: #fff ;
}

body{
    background: var(--bodyBackground); 
    margin: 0 auto;
}
.container{
    margin: 15rem auto;
    
}
h1{ 

        color: var(--logoColor);
        font-family: 'Racing Sans One', cursive;
        font-size: 4rem;
        text-align: center;
}

.signup{
    
    max-width: 12rem;
    height: 12rem;
    padding: 2rem;
    background: var(--formBackground);
    margin: 0 auto;
    text-align: center;
    border-radius: 1.25rem;
}

form{
    padding: 0.5rem;
    margin-top: 0.85rem;
    
  
}

label{  
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: var(--labelColor);
}

input{
    height: 1.5rem;
    margin: 0.35rem 0;
    border-radius: 0.55rem;
    background: var(--inputColor);
    border:none;
  
}

button{
    width:6rem;
    border-radius: 1.25rem;
    padding: 0.50rem;
    margin-top: 0.35rem;
    color: var(--buttonLabel);
    background: var(--buttonColor);
    
    
}
button:hover{
    color: var(--buttonColor);
    background: var(--buttonHover);
}
 p{
    text-align: center;
    color: var(--logoColor);
    font-family: 'Racing Sans One', cursive;
    font-weight: 400;
    font-size: 1.25rem;

}