*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#f0f2f5;
    font-family: sans-serif;
}

header {
    background: #2196f3;
    padding: 3.25rem 3rem  6rem 6rem;
    text-align: center;

}

header h1 {
        color: #FFF;
        font-weight: 100;

}

.container{
    width: min(90vw , 62.5rem);
    margin: 0 auto;
    border-radius: 1.25rem;
}

.wrapper{
    margin-top: -3.75rem;
    display:grid;
    grid-template-columns: 3.40rem repeat(5 ,1fr) 4.90rem;
    background:#f0f2f5;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    align-items: center;
   
}

/* Pegando o Primeiro Filho do selector Pai e aplicando o CSS*/
.wrapper div:nth-child(1){
    width: 3.25rem;
}

.card{
    height: 100%;
    padding: 0 0.25rem;
    background:#FFF;
    
}

.card h2,p{

    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color:black;
    margin-top: 3.5rem;
    
}
.card p{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.card img{
    width: 10rem;
    height: 8rem;
   
}
.card a{
    text-decoration: none;
}

.card-save{
    float: right;
    max-width: 5rem;
    background: green;
    margin-top: 2.75rem;
    margin-right: 0.50rem;
    border-radius: 0.50rem;
    
   
}

.card-save img{ 
    margin: 0.5rem 0 0 0.15rem;
    padding: 0.20rem;
    width: 3rem;
    height: 2rem;
}
.card-save img:{ 
 
    color:#2196f3;
}


