*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#f0f2f5;
    font-family: sans-serif;
}

header {
    background: #2196f3;
    padding: 3.25rem 3rem  6rem 6rem;
    text-align: center;

}

header h1 {
        color: #FFF;
        font-weight: 100;

}
.container{
    width: min(90vw , 800px);
    margin: auto;
}

.cards{
    margin-top: -3.75rem;
}

.card{
    background:#FFF;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    display: flex;
    

}

.card h2{
    color: white;
    margin-top: 3.2rem;
    color: #363f5f;
    font-weight: normal;
}

.card img{
        width: 10rem;
        height: 8rem;
        
}

.configuration{

}

.configuration img{
    width: 2rem;
    height: 2rem;
}