<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/forms.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Racing+Sans+One&display=swap"
        rel="stylesheet">
    <title>Mileage Check</title>
</head>

<body>
    <header>
        <div>
            <h1>M.C</h1>
            <h2>Mileage Check</h2>
        </div>

    </header>
    <main>
        <section class="container-signup"> 
            <div class="signup">
                <form  action="../views/index.html"> 
                    <label>Login : <input> </input></label>
                    <label>Senha : <input> </input></label>
                    <button>Logar</button>
                </form>
        </div>
        </section>

    </main>
    <footer>
        <div>
            <P> Mileage Check</P>
            <span>M.C</span>
        </div>
    </footer>
</body>

</html>