<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <main>
                <section class="container">

                    <div class="wrapper">
                        <div class="card">

                            <img src="/images/cars.png" alt="Veiculo">

                        </div>
                        <div class="card">
                            <h2>1</h2>
                        </div>
                        <div class="card">
                            <h2> Argo Drive 1.0</h2>
                            <p>2021</p>
                        </div>
                        <div class="card">

                            <h2>Locadoza</h2>
                        </div>
                        <div class="card">

                            <h2>19251350</h2>
                        </div>
                        <div class="card">

                            <h2>Aecio</h2>
                        </div>
                        <div class="card">

                            <a href="http://www.google.com"><button>
                                    Consulta</button> </a>

                        </div>

                    </div>
                    <div class="wrapper">

                        <div class="card">

                            <img src="/images/car.png" alt="Veiculo">

                        </div>
                        <div class="card">
                            <h2>2</h2>
                        </div>
                        <div class="card">
                            <h2> Argo Drive 1.0</h2>
                            <p>2021</p>
                        </div>
                        <div class="card">
                            <h2>Locadora</h2>
                        </div>
                        <div class="card">
                            <h2>00000000</h2>
                        </div>
                        <div class="card">
                            <h2>Aecio</h2>
                        </div>
                        <div class="card">

                            <a href="http://www.google.com"><button>
                                    Consulta</button> </a>

                        </div>

                    </div>
                    <div class="wrapper">

                        <div class="card">

                            <img src="/images/car.png" alt="Veiculo">

                        </div>
                        <div class="card">
                            <h2>2</h2>
                        </div>
                        <div class="card">
                            <h2> Argo Drive 1.0</h2>
                            <p>2021</p>
                        </div>
                        <div class="card">
                            <h2>Locadora</h2>
                        </div>
                        <div class="card">
                            <h2>00000000</h2>
                        </div>
                        <div class="card">
                            <h2>Aecio</h2>
                        </div>
                        <div class="card">

                            <a href="http://www.google.com"><button>
                                    Consulta</button> </a>

                        </div>

                    </div>
                    <div class="wrapper">

                        <div class="card">

                            <img src="/images/car.png" alt="Veiculo">

                        </div>
                        <div class="card">
                            <h2>2</h2>
                        </div>
                        <div class="card">
                            <h2> Argo Drive 1.0</h2>
                            <p>2021</p>
                        </div>
                        <div class="card">
                            <h2>Locadora</h2>
                        </div>
                        <div class="card">
                            <h2>00000000</h2>
                        </div>
                        <div class="card">
                            <h2>Aecio</h2>
                        </div>
                        <div class="card">

                            <a href="http://www.google.com"><button>
                                    Consulta</button> </a>

                        </div>

                    </div>
                    <div class="wrapper">

                        <div class="card">

                            <img src="/images/car.png" alt="Veiculo">

                        </div>
                        <div class="card">
                            <h2>2</h2>
                        </div>
                        <div class="card">
                            <h2> Argo Drive 1.0</h2>
                            <p>2021</p>
                        </div>
                        <div class="card">
                            <h2>Locadora</h2>
                        </div>
                        <div class="card">
                            <h2>00000000</h2>
                        </div>
                        <div class="card">
                            <h2>Aecio</h2>
                        </div>
                        <div class="card">

                            <a href="http://www.google.com"><button>
                                    Consulta</button> </a>

                        </div>

                    </div>
                </section>

            </main>
            <%- include('../partials/footer')%>

    </body>

</html>