
/*CSS referente a tela cars*/
:root{
    --font-Size: 0.75rem;
    --colorTextGeral:#2E384D;
    --background-Consulta: #fff;
    --Valor-Progress: 57%;
    --ColorDescription: #666666;
    --color-table:#F2F3F5;

}
.container{
    margin-top: -2.75rem;
    
}

.carPage{
    box-sizing: border-box;
    align-items: center;
    max-width: 70rem;
    display:flex;
    justify-content:space-between;
    position: relative;
    height: 25rem;
    
}
.carInformation{
    margin-top:-3.20rem;
    position: relative;
}
.carInformation div:first-child{
      width: 30rem;
      display:flex;
      justify-content: space-between;
      background: var(--background-Consulta);
      border-radius: 1.25rem 1.25rem 0 0;
}

.imgCar{
    width: 15.63rem;
    height: 12.50rem;
    border-radius: 2rem;
    
}

.description{
    padding: 2.15rem 1.75rem;
    width:21rem;
    
}

.description h1 ,h2 ,h3{
    
    font-size: var(--font-Size);
    color: var(--colorTextGeral);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 0.65rem;
    padding: 0 0.25rem
}


.descriptionText{
    font-size: var(--font-Size);
    color: var(--ColorDescription);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    margin-bottom: 0.65rem;
    padding: 0 0.25rem
    
}

.carKm{
    box-sizing: border-box;
    text-align: center;
    height: auto;
    background: var(--background-Consulta);
    border-radius: 0 0 1.25rem 1.25rem;
}
.progressKM{
    height:1rem;
    display: flex; 
    justify-content: space-between;

    
}
.progressKM span{
    margin-top: 0.04rem;
    font-size: var(--font-Size);
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    color: var(--ColorDescription);
    
}

.progressKM > div{
    display:flex;
    flex: 1;
    width:65%;
    margin-top: 0.35rem;
    height: 4px;
    background-color:rgb(172, 165, 165);
    border-radius: 0.25rem;
    position: relative;
    
}

.progressKM > div > div:first-child{
      height: 4px;
      width: var(--Valor-Progress);
      background-color: rgb(23, 184, 8);
      border-radius: 0.25rem;
    
}

.progressKM > div > span{
    font-size: 1.25rem;
    font-family: 'Rajdhani', sans-serif;
    color: var(--ColorDescription);
    font-weight: 400;
    left:var(--Valor-Progress);
    margin-top: 0.55rem;
    transform: translateX(-50%);
    position: absolute;
  
}

.IconBar{
    padding:0.09rem;
    width: 1rem;
    height: 1rem;
}

 button{
     font-size: var(--font-Size);
     margin-top: 1.75rem;
     margin-bottom: 0.75rem;
     width: 4.75rem;
     height: 1.75rem;
     border-radius: 1.75rem;
     border:none;
     color: #fff;
     background:blue;
 }

 button:hover{
    background:yellow;
    color: blue;
}

.carHistory{
    background: var(--background-Consulta);
    border-radius: 1.25rem;
    
    
}
.carHistory h1{
    text-align: center;
    margin-top: 0.50rem;
    margin-bottom: 0.25rem;
}
.tableHistory{
    width: 100%;
    
}

thead,th ,td{
  text-align: center;
  padding: 0 0.15rem 0 0;
  background-color: var(--color-table);
  font-size: var(--font-Size);
  font-weight: 600;
}
thead th{
    
    color: var(--colorTextGeral);
    font-family: 'Inter', sans-serif;
 
}
tbody tr td > img{
    width: 3.55rem;
}

tbody td{
    background-color: var(--color-table);
    font-family: 'Rajdhani', sans-serif;
    color: var(--ColorDescription);
    
}

.buttonImagem{
    font-size: var(--font-Size);
    font-family: 'Inter', sans-serif;
    width: 4.75rem;
    height: 1.75rem;
    border-radius: 1.75rem;
    border:none;
    color: #fff;
    background:blue;
    margin-top: 0.50rem;
}

.buttonImagem:hover{
   background:yellow;
   color: blue;
}
