
:root{
    --cardBackground: #cae4db;
    --fontSize: 1.15rem;
    --buttonBackgroundHouver: #00303f;
    --buttonColor: #fff;
    --buttonBackground:#0375b4;
}

.wrapper{
    
    display:flex;
    margin-top: -3.75rem;
    padding: 0.95rem;   
    border-radius: 1.25rem;
    margin-bottom: 2.5rem;
    align-items: center;
    
}

.wrapper div:nth-child(1){
    border-radius: 2rem 0 0 2rem;
}

.wrapper div:nth-child(7){
    
     border-radius: 0 2rem 2rem 0;
    
}

.card{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 56.25rem;
    height:10rem;
    background: var(--cardBackground);

}


.card > img{
    max-width: 11.25rem;
    width: 10.25rem;
    height: 6.25rem;  

}   


.card h2,p{
    
    text-align: center;
    font-size: var(--fontSize);
    color:black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;

}

.card p{
    font-size: 1.25rem;
    font-weight: 600;
}
.card a button{
    border:none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0 auto;  
    width: 7rem;
    height: 3rem;
    border-radius: 1.25rem;
    background: var(--buttonBackground);
    color:var(--buttonColor);

}

.card a button:hover{ 
        background: var(--buttonBackgroundHouver);
        transition: 0.1s;
        color:var(--buttonColor);
 }
 .card a button h2{ 
    
    transition: 0.1s;
    color:var(--buttonColor);
}

